{% extends 'base.html.twig' %}

{% block title %}Edit Partenaires{% endblock %}


{% block pane %}
    <h1>Edit Partenaires</h1>

    {{ include('partenaires/_form.html.twig') }}

    {{ include('partenaires/_delete_form.html.twig') }}




{% endblock %}


