{% extends 'base.html.twig' %}

{% block title %}Create New Partenaire{% endblock %}

{% block pane %}
    <h1>Create New Partenaire</h1>


    <form action="{{ path('app_partenaires_new') }}" method="post">
        {{ include('partenaires/_form.html.twig') }}


    </form>
{% endblock %}
