{% extends 'base.html.twig' %}

{% block title %}Create New Partenaire{% endblock %}

{% block body %}
    <h1>Create New Partenaire</h1>


    <form action="{{ path('app_partenaires_new') }}" method="post">
        {{ include('partenaires/_form.html.twig') }}


    </form>
    <script>
        // Sélectionner tous les champs du formulaire
        const formFields = document.querySelectorAll('.form-control');

        // Écouter les événements de saisie sur chaque champ du formulaire
        formFields.forEach(field => {
            field.addEventListener('input', function() {
                // Vérifier si le champ est valide
                if (this.checkValidity()) {
                    // Champ valide : appliquer la classe 'is-valid' et retirer la classe 'is-invalid'
                    this.classList.remove('is-invalid');
                    this.classList.add('is-valid');
                } else {
                    // Champ invalide : appliquer la classe 'is-invalid' et retirer la classe 'is-valid'
                    this.classList.remove('is-valid');
                    this.classList.add('is-invalid');
                }
            });
        });

    </script>
{% endblock %}
