{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdLivraison</th>
                <td>{{ livraison.idLivraison }}</td>
            </tr>
            <tr>
                <th>DateLivraison</th>
                <td>{{ livraison.dateLivraison ? livraison.dateLivraison|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ livraison.statut }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ livraison.commande.adresse }}</td>
            </tr>

        </tbody>
    </table>

    <a href="javascript:history.go(-1)">back to list</a>
{% endblock %}
