{% extends 'front.html.twig' %}
{% block title %}Not found Page{% endblock %}
{% block main %}
    <section class="our-error bgc-f9">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 text-center">
                    <div class="error_page footer_apps_widget">
                        <h3 class="subtitle">The Page Could Not Be Found!</h3>
                        <div class="erro_code"><h2>4<span class="text-thm">0</span>4</h2></div>
                    </div>
                    <a class="btn_error btn-thm" href="index.html">Back to Home</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}