{% extends 'base.html.twig' %}

{% block title %}Edit ServiceApresVente{% endblock %}

{% block pane %}
    <h1>Edit ServiceApresVente</h1>

    {{ include('service_apres_vente/_formedit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_apres_vente_index') }}">back to list</a>

    {{ include('service_apres_vente/_delete_form.html.twig') }}
{% endblock %}
