{% extends 'base.html.twig' %}

{% block title %}New ServiceApresVente{% endblock %}

{% block body %}
    <h1>Create new ServiceApresVente</h1>

    {{ include('service_apres_vente/_form.html.twig') }}

    <a href="{{ path('app_service_apres_vente_index') }}">back to list</a>
{% endblock %}
