<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>comment Details</title>
</head>
<body>

<h1>comment</h1>
<p>comment :{{ b.commentaire }}</p>
<p>Event: {{ b.prod.labelle }}</p>

<a href="{{ path('app_Affichecomment')}}">back to list</a>
</body>
</html>