{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}
{% block pane %}
    <div class="new_property_form mb30">
        <h4 class="title mb30">Account Details</h4>
        <div class="dp_user_thumb_content">
            <div class="wrap-custom-file mb25">
                <input type="file" name="image1" id="image1" accept=".gif, .jpg, .png">
                <label for="image1" >
                    <span>&nbsp;&nbsp;Browse</span>
                </label>
                <small class="file_title">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg & .png</small>
            </div>
        </div>
        <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb20">
                                <input name="form_name" class="form-control form_control" type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <input name="form_name" class="form-control form_control" type="text" placeholder="Location">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <input name="form_name" class="form-control form_control" type="text" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <input name="form_name" class="form-control form_control" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="ui_kit_select_search add_new_property mb20">
                                <select class="selectpicker" data-live-search="true" data-width="100%">
                                    <option>Type</option>
                                    <option data-tokens="Seller">Seller</option>
                                    <option data-tokens="Purchaser">Purchaser</option>
                                    <option data-tokens="Dealer">Dealer</option>
                                    <option data-tokens="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb20">
                                <textarea name="form_message" class="form-control" rows="10" placeholder="Type"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="new_propertyform_btn">
                                <a href="#" class="btn btn-thm ad_flor_btn">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}


