{% extends 'front.html.twig' %}
{% block title %}Incription{% endblock %}
{% block main %}
    <section class="our-log bgc-f9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="login_form mt60-sm">
                        <h2 class="title">Recuperer Mots de pass</h2>
                        <form action="{{ path('ForgetPassword') }}" method="post">
                            <div class="mb-2 mr-sm-2">
                                <label class="form-label">Username or email address  *</label>
                                <input type="text" class="form-control" name="email">
                            </div>
                            <button type="submit" class="btn btn-log btn-thm mt5">recuperer</button>
                        </form>
                    </div>r
                </div>

            </div>
        </div>
    </section>
{% endblock %}