{% extends 'front.html.twig' %}
{% block title %}Login{% endblock %}
{% block main %}
    <section class="our-log bgc-f9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="login_form mt60-sm">
                        <h2 class="title">Sign in</h2>
                        <form action="{{ path('resive') }}" method="post" id="login_form">

                            <div class="col-lg-6">
                                <div class="form-group mb20">
                                    <label class="form-label">code </label>
                                    <input type="number" class="form-control" name="code" id="code">
                                </div>
                            </div>



                            <button type="submit" class="btn btn-log btn-thm mt5">Sign in</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        {% block jsControle %}
            <script src="{{ asset('js/SignUPControl.js') }}"></script>
        {% endblock %}

    </section>


{% endblock %}